# Ignore all .txt files in subfolders
**/*.txt

# Ignore all .log files in subfolders
**/*.log

# Ignore all .dat files in subfolders
**/*.dat

# Ignore all json files in subfolders
**/*.json


# Ignore all hidden dotfiles in subfolders (e.g., .env, .config)
**/.*

# Ignore .vscode settings folder
.vscode/

